html, body {
  margin: 0px;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 4em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: black; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Lora;
}

/* The navigation menu links */
.sidenav a {
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #f6fafe;
  padding: 0.5em;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #7abaf2;
}

section {
  margin-left: 4em;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

.home-content {
  text-align: center;
}

.about-content {
  padding-left: 40vw;
}

.home {
  align-items: center;
  color: black;
}

.about {
  background-color: black;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-image: url("./assets/person_background.png");
  color: #f6fafe;
  /*background-image: linear-gradient(to right, black 0%, #434343 100%);*/
}

.about blockquote {
  margin-left: 0px;
}

.name-container, .name, .name-emph, .name-dark {
  font-size: 50px;
  font-family: Lora;
}

.name-container, .name, .name-emph {
  color: black;
}

.name-dark {
  color: #f6fafe;
}

blockquote {
  font-size: 20px;
  font-family: Lora;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 1000px) {
  h1, .name, .name-emph {
    font-size: 25px;
  }

  .about {
    background-image: url("./assets/person.png");
    background-size: 100%;
    background-position-y: 80%;
  }

  .about-content {
    padding-left: 0px;
    text-align: center;
  }

  .about blockquote {
    margin-left: 40px;
    padding-bottom: 200px;
  }

  blockquote {
    font-size: 10px;
  }
}
