/*===== GENERAL =====*/
html,
body {
  margin: 0px;
}

/*===== SIDENAV =====*/
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 4em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: black; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Lora;
}

.sidenav a {
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #f6fafe;
  padding: 0.5em;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.sidenav a:active {
  color: #7abaf2;
}

/*===== SECTIONS =====*/
section {
  margin-left: 4em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.light-section {
  background-color: #f6fafe;
}

.dark-section {
  background-color: black;
}

.light-content {
  color: #f6fafe;
}

.dark-content {
  color: black;
}

.name-container,
.name,
.name-emph,
.title {
  font-size: 50px;
  font-family: Lora;
}

.title {
  margin-left: 40px;
  margin-right: 40px;
}

blockquote {
  line-height: 2em;
  font-size: 20px;
  font-family: Lora;
}

/*===== HOME =====*/
.home-content {
  text-align: center;
}

/*===== ABOUT =====*/
.about-content {
  margin-left: 40vw;
}

.person-image {
  position: absolute;
  width: 40vw;
  left: 0px;
  transform: translate(-700px);
}


/*===== RESPONSIVE DESIGN =====*/
@media screen and (max-width: 1000px) {
  h1,
  .name,
  .name-emph {
    font-size: 40px;
  }

  blockquote {
    font-size: 20px;
    line-height: 1.5em;
  }

  .about {
    flex-direction: column-reverse;
    overflow: hidden;
  }

  .about-content {
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
  }

  .about blockquote {
    margin-left: 40px;
    padding-bottom: 30%;
  }

  .person-image {
    left: calc(700px + 50% - 20vw);
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
  }

}
