/*===== GENERAL =====*/
html,
body {
  margin: 0px;
}

h2 {
  font-weight: normal;
}

/*===== SIDENAV =====*/
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 4em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: black; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Lora;
}

.sidenav a {
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #f6fafe;
  padding: 0.5em;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.sidenav a:active {
  color: #7abaf2;
}

/*===== SECTIONS =====*/
section {
  margin-left: 4em;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.light-section {
  background-color: #f6fafe;
}

.dark-section {
  background-color: black;
}

.light-content {
  color: #f6fafe;
}

.dark-content {
  color: black;
}

.name-container,
.name,
.name-emph,
.title {
  font-size: 50px;
  font-family: Lora;
}

.title {
  margin-left: 40px;
  margin-right: 40px;
}

blockquote {
  line-height: 2em;
  font-size: 20px;
  font-family: Lora;
}

/*===== HOME =====*/
.home-content {
  text-align: center;
}

/*===== ABOUT =====*/

.about-content {
  margin-left: 40vw;
}

.person-image {
  position: absolute;
  width: 40vw;
  left: 0px;
  transform: translate(-700px);
}

.about-content blockquote {
  text-align: justify;
  padding-right: 50px;
}

/*===== WORK =====*/
.work-content {
  position: relative;
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.work-content a {
  padding-bottom: 10px;
}

.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  transform-style: preserve-3d;
}

.card-container .card-box,
.card-container .card-box-light {
  position: relative;
  width: 30vw;
  height: 40vh;
  margin: 40px;
  transform-style: preserve-3d;
  font-family: "Lora";
}

.card-box {
  border-radius: 30px;
  background: black;
  opacity: 0;
}

.card-box-light {
  background: #f6fafe;
}

.card-container .card-box::before {
  content: "PROJECT";
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2em;
  font-weight: 900;
  color: #f6fafe;
  font-style: italic;
  opacity: 0;
  transition: 0.5s;
}

.card-container .card-box::after {
  content: "PROJECT";
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 2em;
  font-weight: 900;
  color: #f6fafe;
  font-style: italic;
  opacity: 0;
  transition: 0.5s;
}

.card-container .card-box:hover::before,
.card-container .card-box:hover::after {
  opacity: 0.1;
}

.card-container .card-box .card-name {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #f6fafe;
  font-family: "Lora";
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.project-title {
  margin-bottom: 20px;
  position: relative;
  text-align: justify;
  color: black;
  font-family: "Lora";
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.project-description {
  margin-bottom: 50px;
  position: relative;
  text-align: justify;
  color: black;
  font-family: "Lora";
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.card-container .card-box .card-read {
  font-family: "Lora";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 75px);
  color: black;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.card-container .card-box .card-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.5s;
  background: #f6fafe;
  transform-style: preserve-3d;
  z-index: 10;
  opacity: 1;
  transform: translate3d(-50%, -50%, 50px);
}

.card-container .card-box .card-project {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 300px;
  transition: 0.5s;
  z-index: 11;
  transition: 0.5s;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 50px);
}

.card-container .card-box:hover .card-project {
  transform: translate3d(-50%, -50%, 50px);
}

.card-container .card-box .card-circle,
.card-container .card-box .card-read {
  background: #f6fafe;
}

/*===== RESPONSIVE DESIGN =====*/
@media screen and (max-width: 1000px) {
  h1,
  .name,
  .name-emph,
  .title {
    font-size: 1.8em;
  }

  blockquote {
    font-size: 0.8em;
    line-height: 1.8em;
  }

  .about {
    flex-direction: column-reverse;
    overflow: hidden;
  }

  .about-content {
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
  }

  .about blockquote {
    padding-right: 0px;
    padding-bottom: 15em;
  }

  .person-image {
    max-width: 40vw;
    padding-bottom: 5em;
    bottom: 0px;
    left: calc(50% - 20vw);
  }
}
