<!-- <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="email@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field> -->

<!-- <div class="row">
    <div class="col-4">
        <a href="https://github.com/edmobe"><img src="assets/github_gradient.svg"  class="rounded mx-auto d-block" alt="Github Logo"></a>
    </div>
    <div class="col-4">
        <a href="https://www.linkedin.com/in/edmobe/"><img src="assets/linkedin_gradient.svg" class="rounded mx-auto d-block" alt="LinkedIn Logo"></a>
    </div>
    <div class="col-4">
        <a href="mailto:work@edmobe.com"><img src="assets/mail_gradient.svg" url="" class="rounded mx-auto d-block" alt="Email Logo"></a>
    </div>
</div> -->

<!-- Footer -->
<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <!-- <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a> -->

            <!-- Twitter -->
            <!-- <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a> -->

            <!-- Google -->
            <!-- <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a> -->

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="mailto:work@edmobe.com" role="button"><i
                    class="fas fa-envelope"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/edmobe/"
                role="button"><i class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/edmobe" role="button"><i
                    class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                {{ 'website-info' | translate:param }} <a class="link" href="https://angular.io/">Angular 13</a>, <a
                    class="link" href="https://getbootstrap.com/">Bootstrap 5</a> {{ 'and' | translate:param }} <a
                    class="link" href="https://fontawesome.com/">Fontawesome 6</a>.
            </p>
        </section>
        <!-- Section: Text -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        {{ 'disclaimer' | translate:param }}
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->