/* ====================== COLOR PALETTE ====================== */
/* Red and yellow colors */
// $lightest: #ffba08;
// $light-1: #faa307;
// $light-2: #f48c06;
// $light-3: #e85d04;
// $light-4: #dc2f02;
// $dark-4: #d00000;
// $dark-3: #9d0208;
// $dark-2: #6a040f;
// $dark-1: #370617;
// $darkest: #03071e;

/* Formal blue colors */
// $lightest: #DFE30E;
// $light-1: #89c2d9;
// $light-2: #61a5c2;
// $light-3: #468faf;
// $light-4: #2c7da0;
// $dark-4: #2a6f97;
// $dark-3: #014f86;
// $dark-2: #01497c;
// $dark-1: #013a63;
// $darkest: #012a4a;

/* Contrast extended */
// $blue-dark: #001219;
// $blue-1: #005f73;
// $blue-2: #0a9396;
// $blue-light: #94d2bd;
// $yellow-light: #e9d8a6;
// $yellow: #ee9b00;
// $orange: #ca6702;
// $orange-dark: #bb3e03;
// $red: #ae2012;
// $red-dark: #9b2226;

// $blue-dark: #1a535c;
// $blue: #349090;
// $blue-light: #4ecdc4; 
// $blue-white: #f7fff7;
// $pink-light: #fbb5b1;
// $pink: #ff6b6b;
// $orange: #ffa96c;
// $yellow: #ffe66d;

// High contrast
$blue-dark: #343399;
$purple: #872FCC;
$orange: #FF6B01;
$pink: #ee0979;
$green: #3de4a3;



