<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@700&family=Poppins:wght@700&family=Roboto:wght@400;500&display=swap"
    rel="stylesheet">


<!-- Navbar -->
<nav class="navbar first-section navbar-expand-lg navbar-dark">
    <div class="container-fluid navbar-container">
        <a class="navbar-brand big-font" (click)="goHome()" href="javascript:;">Eduardo Moya</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav align-items-end">
                <li class="nav-item">
                    <a class="nav-link big-font" [ngClass]="{active: isHomeActive()}" (click)="goHome()"
                        href="javascript:;">{{ 'home' | translate:param }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link big-font" [ngClass]="{active: isWorkActive()}" (click)="goWork()"
                        href="javascript:;">{{ 'work' | translate:param }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link big-font" [ngClass]="{active: isContactActive()}" (click)="goContact()"
                        href="javascript:;">{{ 'contact' | translate:param }}</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto align-items-end">
                <li class="nav-item">
                    <a class="nav-link flag-link" (click)="translateToEnglish()" href="javascript:;"><span
                            class="flag-icon flag-icon-us flag-icon"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link flag-link" (click)="translateToSpanish()" href="javascript:;"><span
                            class="flag-icon flag-icon-es flag-icon"></span></a>
                </li>
                <!-- <li class="nav-item">
                        <a class="dropdown-item small-font" (click)="translateToGerman()"><span
                            class="flag-icon flag-icon-de flag-icon"></span>
                        Deutsch</a>
                    </li> -->
            </ul>
        </div>
    </div>
</nav>

<!-- About -->
<div class="row align-items-center first-section about-container align-middle">
    <div class="col-lg-7 col-left text-white justify-content-center">
        <h1 class="big-font white-font section-title">{{ 'profession-short' | translate:param }}</h1>
        <blockquote class="small-font white-font">
            {{ 'passionate' | translate:param }} <a class="light-emph">{{ 'passionate-fields' | translate:param
                }}</a>.
            {{ 'enjoy' | translate:param }} <a class="light-emph">{{ 'web-apps' | translate:param }}</a> {{
            'participating'
            | translate:param }}
            <a class="light-emph">{{ 'projects' | translate:param }}</a>. {{ 'experience' | translate:param }}
            <a class="light-emph">{{ 'experience-fields' | translate:param }}</a> {{ 'algorithms' | translate:param
            }}.
            {{ 'cultures' | translate:param }} <a class="light-emph">{{ 'multicultural' | translate:param }}</a>,
            {{ 'multicultural-help' | translate:param }}.
        </blockquote>
    </div>
    <div class="col-lg-5 col-right text-white">

    </div>
</div>

<div class="spacer-dark">
    <img style = "pointer-events: none;" src = "/assets/background-dark.svg" alt="Divider SVG"/>
</div>
