/* ====================== GENERAL ====================== */

a {
  text-decoration: none;
}

blockquote {
  font-size: 25px;
  // margin-left: 20%;
  // margin-right: 20%;
}

h1 {
  font-size: 70px;
  padding-bottom: 10px;
}

.row {
  width: 100%;
  min-height: 95vh;
  padding: 0px;
  margin: 0px;
}

/* ====================== NAVBAR ====================== */

.navbar {
  // background-color: rgba(3, 7, 30, 0.6);
  background-color: transparent;
  padding: 1em 2em;
}

.navbar-container {
  padding: 0;
}

.navbar-brand {
  padding: 0;
  margin-right: 2em;
  font-size: 24px;
}

.nav-link {
  font-size: 14px;
  padding-bottom: 1px;
}

.flag-link:hover {
  transform: scale(1.2);
}

.flag-icon {
  border-radius: 2px;
}

/* ====================== ABOUT ====================== */
.about-container {
  min-height: 95vh;
}

/* ====================== TEXT ====================== */

.big-font {
  // font-family: 'Poppins', sans-serif;
  font-family: "Oswald", sans-serif;
}

.mid-font {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.small-font {
  // font-family: 'Lora', serif;
  font-family: "Roboto", sans-serif;
}

.section-title {
  margin-bottom: 0.25em;
}

.light-emph {
  color: rgba(255, 186, 8, 1);
}

.white-font {
  color: white;
}

.centered-text {
  text-align: center;
}

/* ====================== SPACER ====================== */

.spacer-dark {
  min-height: 40vh;
  background-image: url("/assets/background-dark.svg");
  background-repeat: no-repeat;
  background-size: cover;
}



/* ====================== SECTIONS ====================== */

.first-section {
  background: #6a040f;
}

/* ====================== RESPONSIVE ====================== */

@media (min-width: 992px) {
  .col-left {
    padding-left: max(25vh - 5em, 2em);
  }

  .col-right {
    padding-right: max(25vh - 5em, 2em);
  }
}

@media (max-width: 991px) {
  blockquote {
    font-size: 18px;
  }

  .col-left, .col-right {
    padding: 2em, 
  }
  
  h1 {
    font-size: 50px;
    padding-bottom: 10px;
  }

}
