@import 'src/styles.scss';

/* ====================== GENERAL ====================== */

a {
  text-decoration: none;
}

blockquote {
  font-size: 25px;
  // margin-left: 20%;
  // margin-right: 20%;
}

h1 {
  font-size: 70px;
  padding-bottom: 10px;
  background: -webkit-linear-gradient($blue-dark, $pink);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row {
  width: 100%;
  min-height: 95vh;
  padding: 0px;
  margin: 0px;
}

/* ====================== NAVBAR ====================== */

.navbar {
  background-color: white;
  padding: 1em 2em;
}

.navbar-container {
  padding: 0;
}

.navbar-brand {
  padding: 0;
  margin-right: 2em;
  font-size: 24px;
  color: $blue-dark;
}


.fa-bars {
  color: $blue-dark;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-link {
  font-size: 18px;
  padding-bottom: 1px;
  color: $blue-dark;
}

.nav-link, .navbar-brand {
  transition: color 100ms ease-in-out 100ms;
}

.active {
  color: $pink;
}

.nav-link:hover, .navbar-brand:hover {
  color: $pink;
}


.flag-link:hover {
  transform: scale(1.2);
}

.flag-icon {
  border-radius: 2px;
}

/* ====================== ABOUT ====================== */
.about-container {
  min-height: 95vh;
}

/* ====================== TEXT ====================== */

.big-font {
  // font-family: 'Poppins', sans-serif;
  font-family: "Oswald", sans-serif;
}

.mid-font {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.small-font {
  // font-family: 'Lora', serif;
  font-family: "Roboto", sans-serif;
}

.section-title {
  margin-bottom: 0.25em;
}

.light-emph {
  color: $pink;
}

.centered-text {
  text-align: center;
}

/* ====================== SECTIONS ====================== */

.col-left, .col-right {
  z-index: 1;
}

.gradient-corner {
  position: absolute;
  width: 90vw;
  height: 100vh;
  //background: radial-gradient(circle at top left, $blue 0%, $blue-dark 50%);
}


// .first-section {
//   background: $blue-dark;
// }

/* ====================== RESPONSIVE ====================== */

@media (min-width: 992px) {
  .col-left {
    padding-left: max(25vh - 5em, 2em);
  }

  .col-right {
    padding-right: max(25vh - 5em, 2em);
  }
}

@media (max-width: 991px) {
  blockquote {
    font-size: 18px;
  }

  .col-left,
  .col-right {
    padding: 2em;
  }

  h1 {
    font-size: 50px;
    padding-bottom: 10px;
  }
}
