<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid navbar-container">
    <a class="navbar-brand big-font" href="#home">Eduardo Moya</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav align-items-end mr-auto">
        <li class="nav-item">
          <a class="nav-link big-font" href="#home">{{
            "home" | translate: param }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link big-font" href="#projects">{{
            "projects" | translate: param }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link big-font" href="#testimonials">{{
            "testimonials" | translate: param }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link big-font" href="#contact">{{ "contact" | translate: param }}</a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-end">
        <li class="nav-item">
          <a class="nav-link flag-link" (click)="translateToEnglish()" href="javascript:;"><span
              class="flag-icon flag-icon-us flag-icon"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link flag-link" (click)="translateToSpanish()" href="javascript:;"><span
              class="flag-icon flag-icon-es flag-icon"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link flag-link" (click)="translateToGerman()" href="javascript:;"><span
              class="flag-icon flag-icon-de flag-icon"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div data-spy="scroll" data-target="#navbar" data-offset="0">


  <!-- About -->
  <div class="row align-items-center about-container align-middle" id="home">
    <div class="col-xl-7 col-sm-12 col-left justify-content-center">
      <h1 class="big-font section-title">
        {{ "profession-short" | translate: param }}
      </h1>
      <blockquote class="small-font">
        {{ "passionate" | translate: param }}
        <a class="light-emph">{{ "passionate-fields" | translate: param }}</a>. {{ "enjoy" | translate: param }}
        <a class="light-emph">{{ "web-apps" | translate: param }}</a>
        {{ "participating" | translate: param }}
        <a class="light-emph">{{ "both-projects" | translate: param }}</a>.
      </blockquote>
    </div>
    <div class="col-xl-5 col-sm-8 col-right mx-auto">
      <img src="assets/me.png" class="img-fluid" alt="Image of Eduardo Moya">
    </div>
  </div>

  <!--Waves-->
  <app-wave-start></app-wave-start>

  <!-- Experience -->
  <div class="row align-items-center experience-container align-middle" id="projects">
    <div class="col-lg-12 col-left col-right">
      <h1 class="big-font section-title white-header">
        {{ "projects" | translate: param }}
      </h1>
    </div>
    <div class="col-lg-12 col-left col-right">
      <app-cards></app-cards>
    </div>


    <!-- <div class="row align-items-center about-container align-middle">
    <div class="col-5"></div>
    <div class="col-4">
      <app-contact></app-contact>
    </div>
    <div class="col-5"></div> -->
    <!-- <div class="col-lg-12 col-left col-right">
      <h1 class="big-font section-title">
        {{ "contact" | translate: param }}
      </h1>
    </div>
    <div class="col-lg-12 col-left col-right">
      
    </div> -->
  </div>

  <!--Waves-->
  <app-wave-end></app-wave-end>

  <!-- Testimonials -->
  <div class="row align-items-center align-middle testimonials-container" id="testimonials">
    <div class="col-lg-12 col-left col-right">
      <h1 class="big-font section-title">
        {{ "testimonials" | translate: param }}
      </h1>
    </div>
    <div class="col-lg-12 col-left col-right">
      <blockquote class="small-font">
        {{ "progress" | translate: param }}.
      </blockquote>
      <!-- <app-testimonials></app-testimonials> -->
    </div>
  </div>



  <!-- Contact -->
  <div id="contact">
    <app-contact></app-contact>
  </div>


  <!-- <app-spacer-dark></app-spacer-dark> -->
</div>