<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="home-container">

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Eduardo Moya</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">{{ 'home' | translate:param }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ 'about' | translate:param }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ 'work' | translate:param }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ 'contact' | translate:param }}</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ 'language' | translate:param }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" (click)="translateToEnglish()"><span class="flag-icon flag-icon-us flag-icon"></span>
                                    English</a></li>
                            <li><a class="dropdown-item" (click)="translateToSpanish()"><span class="flag-icon flag-icon-es flag-icon"></span>
                                    Español</a></li>
                            <li><a class="dropdown-item" (click)="translateToGerman()"><span class="flag-icon flag-icon-de flag-icon"></span>
                                    Deutsch</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <canvas #canvas id="canvas"></canvas>
</div>